<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4" style="margin-right: 20px;">
        <h2 class="title is-2">Editer <%= resource_name.to_s.humanize+" " %><%= current_user.name %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: {  class: "label" } %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>En attente de confirmation pour: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "laisser vide si vous ne voulez pas changer le mot de passe",
                        required: true,
                        input_html: { class: "input", autocomplete: "new-password" },
                        wrapper: false,
                        label_html: {  class: "label" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { class: "input", autocomplete: "new-password" },
                        wrapper: false,
                        label_html: { class: "label" } %>
            <%= f.input :current_password,
                        hint: "nous avons besoins de votre mot de passe actuel pour pouvoir faire les modification",
                        required: true,
                        input_html: { class: "input", autocomplete: "current-password" },
                        wrapper: false,
                        label_html: { class: "label" } %>
          </div>
          <br/>

          <div class="form-actions">
            <%= f.button :submit, "Mettre à jour", class: "button is-link" %>
          </div>
        <% end %>
        <br/>
        <h3 class="title is-3">Cancel my account</h3>

        <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %></p>
        <br/>
        <%= link_to "Retour", :back, class: "button is-outlined" %>
      </div>
    </div>
  </div>
</div>
