<div class="section">
  <div class="container">
    <div class="columns is-centered ">
      <div class="column is-5" style="margin-right: 20px;">

        <h2 class="title is-2">Inscription</h2></br>
         
        <p class="subtitle is-4 "><span class="icon has-text-info fa fa-search"></span> Suivez vos passions.</p>
        <p class="subtitle is-4 "><span class="icon has-text-info fa fa-users"></span> Découvrez ce dont les gens parlent.</p>
        <p class="subtitle is-4 "><span class="icon has-text-info fa fa-comment"></span> Rejoignez la conversation. </p>
        

        
      </div>

      <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="field">
            <div class="control">
              <%= f.input :name,
                          required: true,
                          autofocus: true ,
                          wrapper: false,
                          input_html: { class: "input is-rounded", autocomplete: "email" },
                          label_html: {class: "label"}
                          %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username,
                          required: true,
                          wrapper: false,
                          input_html: { class: "input is-rounded", autocomplete: "email" },
                          label_html: {class: "label"}
                          %>
            </div>
          </div>

        <div class="field">
            <div class="control">
              <%= f.input :email,
                          required: true,
                          wrapper: false,
                          input_html: { class: "input is-rounded", autocomplete: "email" },
                          label_html: {class: "label"}
                          %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                          required: true,
                          input_html: { class: "input is-rounded", autocomplete: "new-password" },
                          wrapper: false,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          label_html: { class: "label", autocomplete: "new-password" } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { class: "input is-rounded" },
                          wrapper: false,
                          label_html: {class: "label"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.button :submit, "Inscription", class: 'button is-info is-medium is-rounded' %>
            </div>
          </div>
      <% end %>
      <br/>
      </div>
    </div>
  </div>
</div>
